appdirs==1.4.4
attrs==20.2.0
bitarray==1.2.2
blinker==1.4
Brotli==1.0.9
certifi==2020.6.20
click==7.1.2
cloudpickle==1.2.2
cycler==0.10.0
dash==1.16.3
dash-core-components==1.12.1
dash-html-components==1.1.1
dash-renderer==1.8.2
dash-table==4.10.1
distlib==0.3.0
filelock==3.0.12
Flask==1.1.2
Flask-Compress==1.6.0
flatland==0.9.1
future==0.18.2
gym==0.14.0
importlib-metadata==1.6.0
importlib-resources==1.5.0
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.16.0
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.3.1
msgpack==0.6.1
msgpack-numpy==0.4.7.1
numpy==1.19.1
pandas==1.1.0
Pillow==7.2.0
plotly==4.11.0
pyglet==1.3.2
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
recordtype==1.3
retrying==1.3.3
scikit-learn==0.23.2
scipy==1.5.2
seaborn==0.10.1
six==1.15.0
threadpoolctl==2.1.0
torch==1.6.0+cpu
utils==1.0.1
virtualenv==20.0.21
Werkzeug==1.0.1
xlrd==1.2.0
zipp==3.1.0
